.MapComponent{
    margin: -50px -200px -50px -100px;
    display: inline-block;
}

.findMapInput{
    width: 24%; 
    height: 100%;
    float: left;
    background-color: black;
}

.findInput{
    padding: 6.5% 8% 2% 8%;
    background: #292A30;
}


.pretendInput{
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    color: #7A7C7F;
    font-weight: 700;
    line-height: 1;
    width: 70px;
    height: 35.19px !important;
    background-color: white !important;
}

input[type="text"] {
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1;
    min-width: 50px;
    height: 35px;
    border-style: none;
    padding-left: 8%;
}

.recientesTitle{
    font-size: 14px;
    color: #7A7C7F;
    padding: 12px 0 10px;
    padding-left: 20px;
    background: #ECF0F1;
}

p{
    margin: 0;
}