.logincard{
    margin: 10%;
    width: 30%;
    margin-top: 7%;
}

.logincard .btn{
    margin-bottom: 2.5%;
}

.singuptext{
    font-size: 13.5px;
    color:rgba(0, 0, 0, 0.7);
}

.changedWithoutLink{
    color: darkcyan !important;
}

.changedWithoutLink:hover{
    cursor: pointer;
}